<!DOCTYPE html>
<html>
<head>
  <title>Bank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if session[:users].present?%>
<%=link_to "Log Out", sessions_path,:method => :delete%>
<%end%>


<% flash.each do |type, message|%>
    <div>
     <%= message%>
    </div>
<%end%>
<%= yield %>

</body>
</html>
